.button {
    border-radius: 8px;
    font-weight: 700;
  }
  
  button#sticker {
    background-color: #ba1a62;
  }
  button#keychain {
    background-color: #c8cd7d;
  }
  button#plush {
    background-color: #e4633b;
  }
  button#comic {
    background-color: darkblue;
  }
  button#mystery {
    background-color: green;
  }
  #shopping-cart {
    background-color: #e1ebe4;
    max-width: 600px;
    min-height: 400px;
    border-radius: 20px;
    margin: 20px auto;
    padding: 20px;
  }